@model CadeteriaWeb.ViewModels.Usuario.LoginViewModel

@{
  ViewBag.Title = "Iniciar sesión";
}

<div class="text-center">
  <h1>Iniciar Sesión</h1>
</div>

<div class="position-absolute top-50 start-50 translate-middle">

    
    <form class="row g-3" asp-controller = "Logueo" asp-action = "IniciarSesion" >
      <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for = "@Model.User" id="floatingInput" placeholder = "user">
        <label for="floatingInput" asp-for = "@Model.User">Usuario</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" asp-for = "@Model.Contrasena" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword" asp-for="@Model.Contrasena">Password</label>
      </div>
      
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn-confirm" type="submit">Iniciar Sesión</button>
        <a  class="btn-cancel">Cancelar</a>
           
      </div>
    </form>

</div>
